.lottiePlayer svg {
  scale: 140%;
}

@media (min-width: 1536px) {
  .lottiePlayer svg {
    scale: 160%;
  }
}

@media (max-width: 1200px) {
  .lottiePlayer svg {
    scale: 140%;
  }
}

@media (max-width: 900px) {
  .lottiePlayer svg {
    scale: 140%;
  }
}

@media (max-width: 600px) {
  .lottiePlayer svg {
    scale: 160%;
  }
}

.shine {
  position: relative;
  overflow: hidden;
}

.shine::before {
  content: "";
  position: absolute;
  left: -100%;
  background-color: rgba(222, 222, 222, 0.3);
  height: 100%;
  width: 100px;
  transform: skewX(-30deg);
}

.shine.slide::before {
  animation: 600ms slide;
}

/* @keyframes slide {
  0%,
  100% {
    left: -100%;
  }
  50% {
    left: 180%;
  }
} */

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 180%;
  }
}
