.parallax {
  background: green;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -100px;
  left: 0;
}

.parallaxLast {
  background: blue;
  height: 100px;
  width: 100px;
}

.lottiePlayer {
  height: 700px;
  width: 900px;
}

@media (max-width: 900px) {
  .lottiePlayer {
    height: 270px;
    width: 100%;
  }
}
