.profileImage {
  height: 900px;
  width: 70%;
}

@media (max-width: 1950px) {
  .profileImage {
    height: 800px;
    width: 70%;
  }
}

@media (max-width: 1536px) {
  .profileImage {
    height: 800px;
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .profileImage {
    height: 450px;
    width: 65%;
  }
}

@media (max-width: 1000px) {
  .profileImage {
    height: 530px;
    width: 100%;
  }
}

@media (max-width: 830px) {
  .profileImage {
    height: 550px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .profileImage {
    height: 520px;
    width: 100%;
    margin-top: 80px;
  }
}
