html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide {
  display: "none" !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #1e1f26;
    background: white;
  }
}

.MuiMobileStepper-progress {
  background-color: #ffffff;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #f7be02;
}

.MuiImageListItemBar-title {
  font-size: 3rem;
  line-height: normal;
  border-bottom: 2px solid white;
}

.MuiCircularProgress-root {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.MuiCircularProgress-colorPrimary {
  color: white;
}

.lf-player-container {
  height: 100%;
  width: 100%;
  border: 6px solid blue;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
