html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide {
  display: "none" !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #1e1f26;
    background: #1e1f26;
  }
}

.MuiMobileStepper-progress {
  /* width: 100%; */
  background-color: #ffffff;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #f7be02;
}

.MuiImageListItemBar-title {
  font-size: 3rem;
  line-height: normal;
  border-bottom: 2px solid white;
}

/* #cursor {
  position: fixed;
  top: -16px;
  left: -16px;
  z-index: 1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #e0e1dd;
  opacity: 0;
} */

.MuiCircularProgress-root {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.MuiCircularProgress-colorPrimary {
  color: white;
}

.lf-player-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* @media (max-width: 900px) {
  .lf-player-container {
    height: auto;
    width: 50%;
    overflow: hidden;
  }
} */
